<h1>Add a new item to the @Model.Name category:</h1>
<form action="/categories/@Model.Id/items" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
  <label for="name">Add a new item</label>
  <input id="name" name="name" type="text">

  <label for="category">Add description:</label>
  <input id="category" name="category" type="text">

  <button type="submit">Submit</button>
</form>